<!DOCTYPE html>
<html>
<head>
    <title>Income Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Income Prediction App</h1>

    <form action="/predict" method="post">

        <label>Age</label>
        <input type="number" name="age" required>

        <label>Experience</label>
        <input type="number" name="experience" required>

        <button type="submit">Predict Income</button>

    </form>

    {% if income %}
        <h2>Predicted Income: ₹ {{ income }}</h2>
    {% endif %}

</div>

</body>
</html>